h2{
    font-family: 'Dancing Script', cursive;
}
h3{
    font-family: 'Prata', serif;
}
.main_width {
    max-width: 1200px;
    margin: 0 auto;

    @include mw_lg {
        padding: 0 3em;
    }

    @include mw_xs {
        padding: 0 10px;
    }
}

header {
    background: map-get($bg_color, brown_gradual);

    .info {
        @include d_f(flex, center, flex-end);
        height: 30px;
        color: map-get($txt_color, lightgray02);
        font-weight: 300;

        @include mw_xs {
            justify-content: space-between;
        }

        li {
            @extend %hand;
            @include d_f(flex, center, flex-start);

            &+li {
                margin-left: 50px;
            }

            @include hoverHandler {
                color: map-get($txt_color, lightgray);

                a {
                    text-decoration: underline;
                }
            }
        }

        i {
            width: 12px;
            height: 12px;
            margin-right: 5px;
        }
    }

    .menu{
        @include d_f(flex, center, space-between);
        height: 100px;

        @include mw_xs{
            height: 80px;
        }

        &__list{
            font-size: 0;
            
            li{
                display: inline-block;
                font-size: 16px;
                color: map-get($txt_color, gray);

                &+li{
                    margin-left: 20px;
                }
            }

            a {
                @include hoverHandler {
                    text-decoration: underline;
                    color: map-get($txt_color, lightgray);
                }
            }
        }
    }

    .logo {
        width: 190px;
        height: 100%;
        background: url(../images/Wisec_logo_W.svg) no-repeat center / contain;
        color: transparent;

        img{
            display: none;
        }

        @include mw_xs{
            width: 100px;
        }
    }
}

main {
    background: url(../images/img_benner01.jpg) no-repeat center left / cover;

    // .main__box
    .main__box {
        @extend %txtshadow;
        max-width: 950px;
        margin: 0 auto;
        padding: 5em 2em;
        color: map-get($txt_color, white);
        font-size: 20px;
        text-align: center;

        @include mw_md {
            padding: 2em;
        }

        @include mw_xs {
            padding: 1em;
        }
    }

    h2 {
        font-size: 40px;
        margin-bottom: 20px;

        @include mw_xs{
            font-size: 30px;
        }
    }

    h3 {
        font-size: 65px;
        margin-bottom: 20px;

        @include mw_md {
            font-size: 50px;
            margin-bottom: 10px;
        }
    }

    p {
        line-height: 1.5;

        @include mw_xs {
            @include omission(10, 400px);
            font-size: 16px;
        }
    }
}

.product {
    padding: 3em 0;
    box-shadow: 0 3px 5px map-get($bg_color, shadow) inset;
    color: map-get($txt_color, secondary);
    font-size: 16px;
    line-height: 1.5;


    section {
        @include d_f(flex, unset, flex-start);
        flex-wrap: wrap;

        >h3{
            @extend %txtshadow;
            width: 100%;
            font-size: 30px;
            color: map-get($txt_color, green);
            margin-bottom: 3em;
            text-align: center;

            @include mw_md{
                font-size: 25px;
            }

            @include hoverHandler{
                color: map-get($txt_color, lightgray02);
            }
        }
    }

    // .product__box
    &__box{
        @include d_f(flex, unset, flex-start);
        flex-direction: column;
        width: calc(100% / 3 - 40px);
        margin: 0 20px 50px;

        @include mw_md {
            width: calc(100% / 2 - 60px);
            margin: 0 30px 50px;
        }

        @include mw_xs {
            width: calc(100% - 40px);
            margin: 0 auto 50px;
        }

        // .product__box__txt
        &__txt {

            h3 {
                color: map-get($txt_color, brown);
                font-family: 'Prata', cursive;
                font-size: 20px;
            }

            h2 {
                color: map-get($txt_color, green);
                font-size: 25px;
            }
            
            li {
                font-size: 12px;
            }

            code {
                margin-right: 5px;
                font-weight: bold;
            }

            p{
                color: map-get($txt_color, lightbrown);
                font-weight: bold;
            }

            @at-root .--single img{
                display: block;
                margin: auto;
            }
        }
    }


}

.public {
    padding: 12em 0;
    min-height: 400px;
    background: url(../images/img_benner02.jpg) no-repeat center / cover;

    @mixin fine {
        background-attachment: fixed;
    }
}

.mail{
    padding: 5em 0;
    background: url(../images/bg_cream.jpeg);
    text-align: center;

    @include mw_xs {
        padding: 2em 0;
    }

    // .mail__logo
    &__logo{
        width: 180px;
        height: 80px;
        background: url(../images/Wisec_logo_B.svg) no-repeat center / contain;
        color: transparent;
        margin: 0 auto 30px;
    }

    h3{
        color: map-get($txt_color, green);
        font-size: 40px;
        margin-bottom: 10px;

        @include mw_xs {
            font-size: 30px;
        }
    }

    // .mail__txt
    &__txt{
        @include d_f(flex, unset, space-between);
        max-width: 600px;
        color: map-get($txt_color, secondary);
        font-size: 18px;
        margin: auto;
        text-align: left;

        @include mw_xs {
            font-size: 12px;
        }

        li{
            line-height: 1.5;
            width: calc(100% / 2 - 20px);

            @include mw_xs {
                width: calc(100% / 2 - 5px);
            }

            &:first-child{
                text-align: right;
            }

            i{
                width: 15px;
                height: 15px;
                margin-right: 5px;
            }
            
            a {
                @include hoverHandler {
                    text-decoration: underline;
                    color: map-get($txt_color, green);
                }
            }
        }
        
    }
}

footer {
    padding: 4em 0 calc(1em + constant(safe-area-inset-bottom));
    padding: 4em 0 calc(1em + env(safe-area-inset-bottom));
    background: map-get($bg_color, secondary);
    overflow: hidden;

    section {
        @include d_f(flex, unset, space-between);
        flex-wrap: wrap;
        color: map-get($txt_color, lightbrown);
        opacity: 0.8;
    }

    .list {
        width: calc(100% / 4);

        @include mw_xs {
            width: calc(100% - 40px);
            margin: 0 auto 50px;
        }

        li {
            font-size: 15px;

            &:first-child {
                font-family: 'Prata', serif;
                font-size: 16px;
                line-height: 2;
                border-bottom: 1px solid map-get($bg_color, brown);
            }

            &+li {
                line-height: 1.5;
                margin-top: 5px;
            }


            a {
                @include hoverHandler {
                    color: map-get($txt_color, lightgray);
                    text-decoration: underline;
                }
            }
        }
    }

    p {
        width: 100%;
        padding-top: 50px;
        font-weight: bold;
        text-align: center;
    }
}
